# Airflow and Docker
logs/
dags/__pycache__/
plugins/__pycache__/
__pycache__/
*.pyc

# Python environment
.env
*.env
env/
venv/
.venv/

# Jupyter / notebook (if any)
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Data (optional - if you don’t want raw/processed data in Git)
datas/exports/
datas/*.csv
*.parquet

# Google credentials
*.json
.gcloud/
.key/

# Docker
*.pid
*.db
